/*
Global

font blinker source sans pro


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
*/
body,
html {
  font-size: 1rem;

  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4 {
  color: #05cbe9;
  text-align: left;
}

.minute,
.btn,
.title {
  font-family: "Blinker", sans-serif;
  font-weight: 700;
}

p {
  text-align: left;
}

.btn {
  font-size: 1rem;
  padding: 0.25em 1.25em;
  background-color: #05cbe9;
  color: #111d4a;
  letter-spacing: 1.6;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  color: #ffff;
  background: #111d4a;
}

.card-img {
  object-fit: cover;
  height: 150px;
}

.card-content {
  padding: 1em;
}

.title {
  margin: 0;
}

.readmore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.maintext {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}

.minute {
  margin: 0;
}
