/*
Global

font blinker source sans pro
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 1rem;
  background: #111d4a;
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4 {
  color: #05cbe9;
  text-align: left;
}

.minute,
.btn,
.title {
  font-family: "Blinker", sans-serif;
  font-weight: 700;
}

p {
  color: grey;
  text-align: left;
}

.btn {
  font-size: 1rem;
  padding: 0.5em;
  background-color: #05cbe9;
  color: #111d4a;
  letter-spacing: 1.6;
  font-weight: bold;
}

a {
  text-decoration: none;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.card-img {
  height: 30%;
  width: 100%;
}

.card-content {
  height: 70%;
}

.readmore {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
